@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import "theme-toggle.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  color: var(--text);
}

img {
  width: 300px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

nav h1 {
  font-weight: 800;
}

nav h1, .theme-toggle > span, input, .filter-region select {
  font-size: 0.875rem;
}

.theme-toggle > span {
  font-weight: 600;
}

main {
  background-color: var(--background-color);
}

.container-header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 25px;
  min-height: 200px;
}

.search i {
  position: absolute;
}

.search {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
  line-height: 2rem;
  margin-left: 10px;
}

.icon, .search input {
  color: var(--input);
}

.search input {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.filter-region select {
  align-items: flex-start;
  margin-left: 20px;
  padding: .9rem .5rem;
  width: 200px;
}

.search input, .filter-region select, .country-container {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px var(--shadow);
  box-shadow: 0px 0px 5px 0px var(--shadow);
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 1rem;
}

.country-container {
  cursor: pointer;
  background-color: var(--elements);
}

.country-container img {
  border-radius: 5px;;
}

.country-details {
  font-weight: 600;
  padding: 2rem 1.5rem;
}

.country-details h2 {
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.country-details p {
  font-weight: 600;
  margin: 0.3rem 0;
}

.country-details span {
  margin-right: 10px;
  font-weight: 400;
}

.wrapper {
  width: 90vw;
  margin: auto;
}

a > button {
  background-color: var(--elements);
  width: 100px;
  font-size: 0.875rem;
  color: var(--text);
  padding: .2rem .5rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 3px var(--shadow);
  box-shadow: 0px 0px 5px 3px var(--shadow);
}

a > button i {
  margin-right: .5rem;
}